<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                        <!-- <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">Search Engine Marketing</h4>
                    <p class="text-muted" style="text-align: left; hyphens: auto;">Rather than trying to turn each and every visitor to your business website into a customer, it is better that you focus on the specific type of customer. We try to drive more targeted audience through this medium. It helps to increase the visibility for clients through search results.
                        <br/>Since you’ve got a business to run, we’ll take care of all of the research needed to determine which specific keywords your desired customers are using to find your products or services.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <!--<i class="fa fa-instagram fa-stack-1x text-secondary"></i>-->
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        <i class="fa fa-facebook  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Social Media Marketing</h4>
                    <p class="text-muted" style="text-align: left; hyphens: auto;">Social Media Marketing is not just about advertising or having a couple of channels and profiles – social media is about socializing! It is about creating a genuine and lasting presence in the social web that embeds your content and brand into the places where consumers have presence.
                        <br/>Social media platforms like Facebook, Twitter and Instagram can all be used to grow your sales.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Email Marketing</h4>
                    <p class="text-muted" style="text-align: left; hyphens: auto;">We will deliver your newsletters, promotions, or other marketing communication directly to the inbox of new prospects and previous customers on behalf of your business. We provide your business with a well thought out campaign that is affordable, effective and monitored.
                        <br/>
                        Email marketing encourages customer loyalty, builds relationships between a business and its customers and fosters repeat business. That means more people through your door, more calls, and more revenue.
                    </p>
                </div>
            </div>
        </div>
    </section>